body#sg {
}

h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr
{
  font-family: $sans-serif;
  font-size: $base-font-size;
  margin:0;
  margin-bottom:1rem;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  margin-bottom: $small-spacing;
  font-size: $h1-font-size;
}

h2 {
  margin-bottom: $small-spacing;
  font-size: $h2-font-size;
}

h3 {
  margin-bottom: $small-spacing;
  font-size: $h3-font-size;
}

h4 {
  margin-bottom: $small-spacing;
  font-size: $h4-font-size;
}

h5 {
  margin-bottom: $small-spacing;
  font-size: $h5-font-size;
}

h6 {
  margin-bottom: $small-spacing;
  font-size: $h6-font-size;
  font-weight: normal;
}