.sg-pattern {
  padding: $base-padding;
  border: $base-border;
  margin: $base-padding;
}
#sg-viewport {
  position: relative;
  width: 100%;
  background: $white;
}


.library-basics {
  padding: $base-spacing $small-spacing; 
  
  .color-set {
    padding: 0 $small-spacing $base-padding $small-spacing;
  }
  .color-set__title {
    padding: 0 $small-spacing;
    text-transform: capitalize;
  }
  .color-set__colors {
    @include display(flex);
    @include flex-wrap(wrap);
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      @include flex(1 0 140px);
      @include size(20% 140px);
      margin: $small-spacing;
      color: $white;
      cursor: pointer;
      border: $base-border;
            
      code {
        display: block;
        text-align: center;
        background: transparentize($black, .5);
        padding: $small-spacing;
        border-radius: $base-border-radius;

        .color-value {
          display: block;
          max-height: 0;
          overflow: hidden;
          text-transform: lowercase;
          @include transition(all, $base-timing, $base-duration);
        }
      }
      &:hover {
        .color-value {
          max-height: 100px;
          border-top: 1px dashed;
          margin-top: $small-spacing;
          padding-top: $small-spacing;
        }
      }
    }
  }
  
  .icon-set {
    padding: 0 $small-spacing $base-padding $small-spacing;
  }
  .icon-set__title {
    padding: 0 $small-spacing;
    text-transform: capitalize;
  }
  .icon-set__icons {
    @include display(flex);
    @include flex-wrap(wrap);
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      padding: $small-spacing;
      
      span {
        display: block;
      }
      img {
        max-width: 100%;
      }
    }
  }
}