<div class="sg_sidebar">
<!--  <a href="javascript(0);" class="sg-maximize-btn"><i class="icon" data-icon="chevron_left"></i> <span>Hide</span></a>  -->
  <a href="{{ site.baseurl }}/index.html" class="toc-head">
    <div class="toc-head_icon"><img src="{{ site.baseurl }}/styleguide/branding/png/styleguide-64x64.png"></div>
    <div class="toc-head_title">{{ site.sg_title }}</div>
  </a>
  <ul>
    <li><a href="{{ site.baseurl }}/index.html"{% if page.url == '/' %} class="active"{% endif %}>Getting Started</a></li>
  </ul>
  {% assign get-started = site.docs | where: 'type', 'help' | sort: 'name' %}
  <div class="toc-group">
    <div class="toc-group_title">Guides</div>
    <ul>
    {% for doc in get-started %}
    <li>
      <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
    </li>
    {% endfor %}
  </ul>
  </div>
  {% assign foundations = site.docs | where: 'type', 'foundations' | sort: 'name' %}
  <div class="toc-group">
    <div class="toc-group_title">Foundations</div>
    <ul>
    {% for doc in foundations %}
    <li>
      <a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a>
    </li>
    {% endfor %}
  </ul>
  </div>
  {% assign patterns = site.docs | where: 'type', 'doc' | sort: 'name' %}
  <div class="toc-group">
    <div class="toc-group_title">Components</div>
    <ul>
      {% for pattern in patterns %}
      <li> 
        <a href="{{ site.baseurl }}{{ pattern.url }}"{% if pattern.url == page.url %} class="active"{% endif %}>{{ pattern.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% assign examples = site.docs | where: 'type', 'example' | sort: 'name' %}
  <div class="toc-group">
    <div class="toc-group_title">Templates</div>
    <ul>
      {% for example in examples %}
      <li> 
        <a href="{{ site.baseurl }}{{ example.url }}"{% if example.url == page.url %} class="active"{% endif %}>{{ example.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>