$max-width: 1080px;

//Devices
$medium-screen: 1080px;
$tablet-screen: 768px;
$mobile-screen: 480px;

//Breakpoints
//Neat needs to be included

//Type Systems
$sans-serif: 'HKGrotesk', sans-serif;
$base-font-family: 'HKGrotesk', sans-serif;
$icon: 'Material Icons';
$code: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;

//Font Sizing
$base-font-size: 16px;
$base-line-height: 1.6;
$heading-line-height: 1.25;

//Font Sizes
$typo_ostrich: 3rem;
$typo_albatros: 2.2rem;
$typo_eagle: 1.8rem;
$typo_hawk: 1.5rem;
$typo_crow: 1.25rem;
$typo_sparrow: 1rem;
$typo_hummingbird: .875rem;

//Special Fonts
$micro-font-size: 70%;
$small-font-size: 80%;
//$lead-font-size: 116%;

//Brand Colors
$white: #fff;
$smoke: whitesmoke;
$black: #000;
$red: tomato;
$blue: dodgerblue;
$sky: #22a1cc;
$emerald: #16b491;
$green: #2f8a54;
$gold: #efb543;
$orange: #e26d32;
$pink: #e270b4;
$purple: #492e53;
$grey: #a7a7a7;
$pearl: #f1f1f1;

//Animations
$base-duration: .2s;
$base-timing: ease;

//Base Colors
$base-font-color: #515151;
$heading-font-color: #313131;
$subheading-font-color: lighten($base-font-color, 12%);
$code-font-color: $subheading-font-color;

//Code Color
$code-color: #0a0a0a;
$code-font-color: #ffffff;

//Action-color
$action-color: $blue;
$action-hover-color: darken($action-color, 12%);

//Primary Color
$primary-color: $red;
$primary-hover-color: darken($primary-color, 12%);

//Backgrounds
$base-background-color: #ffffff;
$light-background: #f9f9f9;

//Spacing
$base-spacing: 1.5rem;
$small-spacing: $base-spacing / 3; //0.5rem
$base-padding: 1rem;

//Borders
$base-border-radius: 16px;
$base-border-color: #e5e5e5;
$base-border: 1px solid $base-border-color;