// Devices
$extended_screen: 1400px;
$large_screen: 1200px;
$medium_screen: 800px;
$small_screen: 480px;

// Navigation Rails
$left_rail: 300px;
$right_rail: 300px;

// Type Systems
$sans-serif: 'HKGrotesk', sans-serif;
$base-font-family: 'HKGrotesk', sans-serif;
$icon: 'Material Icons';
$code: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;

// Font Sizing
$base-font-size: 16px;
$base-line-height: 1.6;
$heading-line-height: 1.25;

// Font Sizes
$typo_ostrich: 3rem;
$typo_albatros: 2.2rem;
$typo_eagle: 1.8rem;
$typo_hawk: 1.5rem;
$typo_crow: 1.25rem;
$typo_sparrow: 1rem;
$typo_hummingbird: .875rem;

// Mobile Font Sizes
$m_typo_ostrich: 2rem;
$m_typo_albatros: 1.8rem;
$m_typo_eagle: 1.4rem;
$m_typo_hawk: 1.25rem;

// Special Fonts
$micro-font-size: 70%;
$small-font-size: 80%;

// Brand Colors
$white: #fff;
$smoke: whitesmoke;
$black: #000;
$red: orangered;
$blue: dodgerblue;
$green: #16b491;
$amber: orange;
$grey: lightgrey;

// Animations
$base-duration: .2s;
$base-timing: ease;

// Base Colors
$base-font-color: #515151;
$heading-font-color: #0a0a0a;
$subheading-font-color: $grey;

// Code Color
$code-color: #0a0a0a;
$code-font-color: #ffffff;

// Borders
$base-border-radius: 1rem;
$base-border: 1px solid $smoke;

// Margins
$margin: 1rem;
$margin_small: .5rem;
$margin_large: 1.5rem;
$margin_huge: 3rem;
$margin_massive: 4.5rem;


// Mobile Margins
$m_margin_huge: 1.5rem;
$m_margin_massive: 3rem;