a {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
  
  &:hover,
  &:focus {
    color: $darkest-blue;
  }
}
a.alt {
  color: $red;
  
  &:hover,
  &:focus {
    color: $darkest-red;
  }
}
.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 $small-pad/2 0 0;
  padding: $base-pad;
  border: none;
  border-radius: $base-rad;
  cursor: pointer;
  background-color: $blue;
  color: $white;
  text-shadow: 0 1px 0 transparentize($black, .8);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  @include transition(all, $base-timing, $base-duration);

  &:hover,
  &:focus {
    background: $darkest-blue;
    color: $white;
  }
}
.button.alt {
  background: $red;
  color: $white;
  
  &:hover,
  &:focus {
    background: $darkest-red;
    color: $white;
  }
}
.button-icon {
  @extend .button;
  
  &:before {
    @extend .icon;
    margin-right: $small-pad;
  }
}
.button-group {
  @include display(flex);
  @include clearfix;
  margin: 0 $small-pad/2 0 0;
  
  .button {
    display: block;
    float: left;
    margin: 0;
    border-radius: 0;
    border-right: $base-border;
    
    &:first-child {
      border-top-left-radius: $base-rad;
      border-bottom-left-radius: $base-rad;
    }
    &:last-child {
      border-top-right-radius: $base-rad;
      border-bottom-right-radius: $base-rad;
    }
  }
}
.button_animated {
  overflow: hidden;
  padding-right: 0;
  
  .visible-content,
  .hidden-content {
    @include transition(right, $base-timing, $base-duration);
  }
  .visible-content {
    position: relative;
    left: auto;
    right: 0;
    margin-right: $base-pad;
  }
  .hidden-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: auto;
    right: -100%;
    margin-top: -$base-font-size/2;
  }
  &:hover {
    .visible-content {
      right: 100%;
    }
    
    .hidden-content {
      right: 0;
    }
  }
}
.button_disabled {
  pointer-events: none;
  background: $light-grey;
}
.button_block {
  display: block;
}
