body {
  font-family: $roboto;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr {
  margin:0;
  margin-bottom:1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
  color: $heading-font-color;
  margin-bottom: $small-pad;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  font-weight: normal;
}