---
title: Blockquote
styles: base/blockquote.scss
maturity: ready
---
<h6>Blockquote</h6>
<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</blockquote>

<h6>Red Blockquote</h6>
<blockquote class="red">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</blockquote>

<h6>Blue Blockquote</h6>
<blockquote class="blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</blockquote>