.input {
  position: relative;
  @include display(inline-flex);

  input {
    margin: 0;
    max-width: 100%;
    @include flex(1 0 auto);
    outline: 0;
    text-align: left;
    font-size: $base-font-size;
    padding: $base-pad;
    background: white;
    border: $base-border;
    border-radius: $base-rad;
    box-shadow: none;
    @include transition(box-shadow, $base-timing, $base-duration);
  }
}