.sg-branding {
//  padding: $base-spacing $small-spacing; 
  
  .color-set {
    @include display(flex);
    @include flex-wrap(wrap);
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      margin-right: $base-padding;
    }
    
    div {
      width: 140px;
      height: 80px;
      color: $white;
      cursor: pointer;
      border: $base-border;
      margin-bottom: $base-padding;
    }
    p {
      margin-bottom: 0;;
    }
  }
  
  .icon-set {
    @include display(flex);
    @include flex-wrap(no-wrap);
    @include flex-direction(column);
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      padding: $small-spacing;
      
      img {
        max-width: 100%;
        border: $base-border;
      }
    }
  }
}