// Base Styles
html#sg,
body#sg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  background: $white;
}

body#sg {
  position: relative;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -ms-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -webkit-font-smoothing: antialiased;
}
.sg-pusher {
  position: relative;
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  overflow: hidden;
  min-height: 100%;
  margin: 0 $margin_large;
  
  @media only screen and (max-width: $medium_screen) {
    margin: 0 $margin;
  }
}

.sg-pusher.hide-toc {
  .sg_sidebar {
  }
  .sg-main {
    width: 100%;
    left: 0;
  }
//  a.sg-maximize-btn.fixed {
//    @include display(flex);
//  }
}
//a.sg-maximize-btn {
//  @include display(flex);
//  @include align-items(center);
//  min-height: 40px;
//  line-height: 1;
//  position: absolute;
//  right: 0;
//  top: 0;
//  background: $smoke;
//  color: $heading-font-color;
//  font-weight: 600;
//  font-size: $base-font-size;
//  text-decoration: none;
//  @include transition(all $base-duration $base-timing);
//  
//  .icon {
//    margin-right: 0;
//    line-height: 1;
//  }
//  span {
//    display: none;
//    line-height: 1;
//    text-transform: uppercase;
//    margin: 0 $margin_small/2;
//  }
//  &:hover,
//  &:focus {
//    color: $action-color;
//  }
//}
//a.sg-maximize-btn.fixed {
//  display: none;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: auto;
//  z-index: 9;
//  color: $white;
//  background: transparentize($action-color, .3);
//}
//a.sg-maximize-btn:hover span,
//a.sg-maximize-btn:focus span {
//  position: relative;
//  width: auto;
//  display: inline-block;
//  opacity: 1;
//  visibility: visible;
//}
.sg_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: $left_rail;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include transition(all $base-duration $base-timing);
  
  @media only screen and (max-width: $large_screen) {
    display: none;  
  }
}
.sg-main {
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  @include transition(all $base-duration $base-timing);
}
.sg_contain {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 $right_rail 0 $left_rail + 20;
  
  @media only screen and (max-width: $extended_screen) {
    max-width: 52rem;
    padding: 0 0 0 $left_rail + 20;
  }
  @media only screen and (max-width: $large_screen) {
    padding: 0;  
  }
}