// Base Styles
html#sg,
body#sg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  background: $white;
}

body#sg {
  position: relative;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -ms-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -webkit-font-smoothing: antialiased;
}
.sg-pusher {
  position: relative;
  min-height: 100%;
  margin: 0 $margin_large;
  
  @media only screen and (max-width: $medium_screen) {
    margin: 0 $margin;
  }
}

// Sidebar Button Styles
.sg_sidebar_button {
  display: none;
  
  @media only screen and (max-width: $large_screen) {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    line-height: 1;
    margin: $margin 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1;
    color: $heading-font-color;

    .icon {
      font-size: inherit;
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: $large_screen) {
  .sg-pusher.show_sidebar {
    width: 100%;
    overflow: hidden;
    margin: 0;

    .sg_sidebar_button {
      left: $left_rail + 20;
      color: $blue;
    }
    .sg_sidebar {
      width: $left_rail;
      left: 0;
    }
    .sg-main {
      position: absolute;
      left: $left_rail + 20;
      opacity: .2;
    }
  }
}
@media only screen and (max-width: $small_screen) {
  .sg-pusher.show_sidebar {
    width: 100%;
    overflow: hidden;
    margin: 0;

    .sg_sidebar_button {
      left: $left_rail - 30;
    }
    .sg_sidebar {
      width: $left_rail - 50;
      left: 0;
    }
    .sg-main {
      position: absolute;
      left: $left_rail - 30;
      opacity: .2;
    }
  }
}
// Sidebar Position
.sg_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: $left_rail;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
  @media only screen and (max-width: $large_screen) {
    left: -$left_rail;  
  }
}
.sg-main {
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.sg_contain {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 $right_rail 0 $left_rail + 20;
  
  @media only screen and (max-width: $extended_screen) {
    max-width: 52rem;
    padding: 0 0 0 $left_rail + 20;
  }
  @media only screen and (max-width: $large_screen) {
    padding: 0;  
  }
}